/* Dot pattern background */
.bg-dot-black\/\[0\.2\] {
  background-image: radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}

.dark .bg-dot-white\/\[0\.2\] {
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}
